In [1]:
import pandas as pd

In [2]:
df_mcq = pd.read_csv("../data/train_dataset_mcq.csv", dtype={"choices": object})
df_mcq

,MCQID,ID,country,prompt,choices,choice_countries,answer_idx
0,New-as-80_30,New-as-80,China,What type of clothing do people from China wea...,"{\n ""A"": ""as usual"",\n ""B"": ""hanbok"",\n ...","{\n ""A"": ""China"",\n ""B"": ""South_Korea"",\...",A
1,Na-ko-42_288,Na-ko-42,Iran,What type of food is commonly provided at fune...,"{\n ""A"": ""coffee"",\n ""B"": ""kebab"",\n ...","{\n ""A"": ""Mexico"",\n ""B"": ""Iran"",\n ""...",B
2,New-en-01_6,New-en-01,US,Which snack is eaten in the cinema in the US? ...,"{\n ""A"": ""chips"",\n ""B"": ""hummus"",\n ...","{\n ""A"": ""Algeria"",\n ""B"": ""dummy"",\n ...",D
3,Al-en-34_483,Al-en-34,Iran,What do people do to celebrate New Year's Day ...,"{\n ""A"": ""eat grapes at 12"",\n ""B"": ""new...","{\n ""A"": ""Spain"",\n ""B"": ""North_Korea"",\...",D
4,Na-ko-30_0,Na-ko-30,US,What is the most popular e-sports game in the ...,"{\n ""A"": ""LoL"",\n ""B"": ""honor of kings"",...","{\n ""A"": ""US"",\n ""B"": ""China"",\n ""C"":...",A
...,...,...,...,...,...,...,...
831,Th-en-15_0,Th-en-15,UK,What is the most popular winter sport in the U...,"{\n ""A"": ""hockey"",\n ""B"": ""rugby"",\n ...","{\n ""A"": ""US"",\n ""B"": ""UK"",\n ""C"": ""E...",B
832,Th-en-51_10,Th-en-51,US,Which subject is considered the most important...,"{\n ""A"": ""culinary arts"",\n ""B"": ""englis...","{\n ""A"": ""dummy"",\n ""B"": ""US"",\n ""C"":...",B
833,Jo-sp-19_792,Jo-sp-19,China,What region in China has been traditionally as...,"{\n ""A"": ""amhara"",\n ""B"": ""henan"",\n ...","{\n ""A"": ""Ethiopia"",\n ""B"": ""China"",\n ...",B
834,New-spme-60_3,New-spme-60,US,Which day of the week do most families in the ...,"{\n ""A"": ""Sunday"",\n ""B"": ""friday"",\n ...","{\n ""A"": ""US"",\n ""B"": ""Indonesia"",\n ...",A
835,Jo-sp-02_0,Jo-sp-02,US,What is the most popular sport played without ...,"{\n ""A"": ""archery"",\n ""B"": ""badminton"",\...","{\n ""A"": ""South_Korea"",\n ""B"": ""Indonesi...",C

In [3]:
df_mcq["prompt"][0]

'What type of clothing do people from China wear during traditional festivals? Without any explanation, choose only one from the given alphabet choices(e.g., A, B, C). Provide as JSON format: {"answer_choice":""}\n\nA. as usual\nB. hanbok\nC. kebaya\nD. sador mekhela\n\nAnswer:'

In [4]:
import json

keys_len = set()

for i in range(len(df_mcq)):
    choices = json.loads(df_mcq["choices"][i])
    keys = list(choices.keys())
    keys_len.add(len(keys))

In [5]:
keys_len

{4}

In [12]:
json.loads(df_mcq["choice_countries"][0])

{'A': 'China', 'B': 'South_Korea', 'C': 'Indonesia', 'D': 'Assam'}

In [4]:
pd.read_csv("../data/train_dataset_saq.csv")

,ID,question,en_question,annotations,idks,country
0,Na-ko-25,درایران ورزش‌های معمولی که در روز ورزش مدارس ا...,What are the typical sports played in Iran's s...,"[{'answers': ['فوتبال'], 'en_answers': ['footb...","{'idk': 0, 'no-answer': 0, 'not-applicable': 0}",IR
1,New-en-79,Which region of the UK is well known for its t...,Which region of UK is well known for its theat...,"[{'answers': ['london'], 'en_answers': ['londo...","{'idk': 0, 'no-answer': 0, 'not-applicable': 0}",GB
2,Al-en-16,At what age do kids start nursery in the UK? (...,At what age do kids start preschool in UK? (Pr...,"[{'answers': ['3'], 'en_answers': ['3'], 'coun...","{'idk': 0, 'no-answer': 0, 'not-applicable': 0}",GB
3,New-as-89,What traditional festival accessories do peopl...,What traditional festival accessories do peopl...,"[{'answers': ['fourth of july clothes'], 'en_a...","{'no-answer': 2, 'not-applicable': 2, 'idk': 1}",US
4,Gu-ch-32,در کشور شما مدت زمان آموزش اجباری به سال چقدر ...,What is the duration of compulsory education i...,"[{'answers': ['8'], 'en_answers': ['8'], 'coun...","{'no-answer': 1, 'idk': 1, 'not-applicable': 0}",IR
...,...,...,...,...,...,...
1328,Ki-pe-32,在中国，主人通常为客人准备什么食物？,What food do the hosts usually prepare for the...,"[{'answers': ['热炒'], 'en_answers': ['stir-fry'...","{'no-answer': 1, 'idk': 0, 'not-applicable': 0}",CN
1329,New-ch-79,在中国，退休男性通常喜欢什么休闲活动？,What leisure activities do retired men typical...,"[{'answers': ['下象棋', '下棋'], 'en_answers': ['pl...","{'idk': 0, 'no-answer': 0, 'not-applicable': 0}",CN
1330,New-ko-01,What is the most popular children's animation ...,What is the most popular children's animation ...,"[{'answers': ['spongebob'], 'en_answers': ['sp...","{'idk': 1, 'no-answer': 1, 'not-applicable': 0}",US
1331,Ta-pe-13,在你父母那一代，中国家庭平均有多少成员？（只提供阿拉伯数字，例如：20。）,"In your parents' generation, what was the aver...","[{'answers': ['5'], 'en_answers': ['5'], 'coun...","{'idk': 0, 'no-answer': 0, 'not-applicable': 0}",CN
1332,Jod-ch-62,在中国，男性最偏爱哪种职业？,Which occupation is most preferred among males...,"[{'answers': ['公务员'], 'en_answers': ['civil se...","{'idk': 1, 'no-answer': 1, 'not-applicable': 0}",CN